<div class='smaller'>
  <div class='row'>
    <div class='columns xlarge-2'>
      <span class='h-ribbon grey'>Marketplace</span>
    </div>
    <div class='columns xlarge-10'>
      <p>Allows listing domains for sale in bulk.</p>
    </div>
  </div>
</div>
<div id='marketplace-content-region'></div>