<div class='smaller'>
  <div class='row'>
    <div class='columns xlarge-2'>
      <span class='h-ribbon grey'>Auto Renew</span>
    </div>
    <div class='columns xlarge-10'>
      <p>Allows managing auto-renew for domains and WhoisGuard subscriptions in bulk.</p>
    </div>
  </div>
</div>
<div id='auto-renew-content-region'></div>
