<div class='smaller'>
  <div class='row'>
      <div class='columns xlarge-2'></div>
      <div class='columns xlarge-10'>
        <a class='btn btn-small-uppercase btn-green' id='fetch-domains-info'>Fetch Info</a>
      </div>
  </div>
</div>
<div class='row add-margin-bottom-30'><hr></div>