<div class='smaller'>
  <div class='row'>
    <div class='columns xlarge-2'>
      <span class='h-ribbon grey'>Domains Info</span>
    </div>
    <div class='columns xlarge-10'>
      <p>Allows exporting domains info in CSV format.</p>
    </div>
  </div>
</div>
<div id='domains-info-content-region'></div>