<div class='smaller'>
  <div class='row'>
    <div class='columns xlarge-2'>
      <span class='h-ribbon grey'>Add Host Records</span>
    </div>
    <div class='columns xlarge-10'>
      <p>
        Allows setting up host records in bulk.
        Always creates new records, existing host records are left intact. Currently supported record types are A, CNAME, TXT, REDIRECT, FRAME, AAAA, NS and 301.
      </p>
    </div>
  </div>
</div>
<div id='host-records-content-region'></div>